name: Check and Tests

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "LICENSE"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "LICENSE"

jobs:
  check:
    name: Run check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: ".python-version"
      - name: Install python packages
        run: uv sync --all-extras
      - name: Check format
        run: uv run ruff check ./
      - name: Check types
        run: uv run mypy .
      - name: Check security issues in Python code
        run: uv run bandit --quiet --recursive src
      - name: Check update openapi.json
        run: diff ./openapi.json <(uv run python -m src.generate_openapi)
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: ".python-version"
      - name: Install python packages
        run: uv sync --all-extras
      - name: Setup DB container 
        run: docker compose up -d --quiet-pull --wait db
      - name: Run tests
        run: uv run pytest
        env:
          TEST_DB_HOST: localhost
